<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4 text-light">Wassim Barhoumi</h1>
                                       
    </div>
    <div class="wrapper">
        <div class="static-txt">I'm a</div>
        <div class="dynamic-txts">
            <li><span>Web Developer</span></li>
            <li><span>Frontend Developer</span></li>
            <li><span>Backend Developer</span></li>
            <li><span>Fullstack Developer</span></li>
            <li><span>Mobile Developer</span></li>
        </div>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//linkedin.com" target="_blank" class="">
            <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-3">
        </a>
        <a href="//github.com" target="_blank" class="">
            <img src="../../assets/github.png" width="24" height="24" class="rounded-circle me-3">
        </a>
        <a href="//facebook.com" target="_blank" class="">
            <img src="../../assets/facebook.png" width="24" height="24" class="rounded-circle me-3">
        </a>
    </div>

</div>