.navbar-expand-md{
    background-color: #bcebf7;
}
.nav-item:hover{
    background-color: #219ebc;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.nav-link:hover{
    color: #bcebf7;
}
.nav-link{
    color: #219ebc;
}
.active{
    background-color: #219ebc;
    color: #bcebf7;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: -13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}